@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
<div class="container-fluid">

    <!-- Page Header -->
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
        <div class="my-auto">
            <h5 class="page-title fs-21 mb-1"> Order</h5>
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Orders</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Order</li>
                </ol>
            </nav>
        </div>

        <div class="d-flex my-xl-auto right-content align-items-center">
            <div class="pe-1 mb-xl-0">
                <button type="button" class="btn btn-info btn-icon me-2 btn-b"><i class="mdi mdi-filter-variant"></i></button>
            </div>
            <div class="pe-1 mb-xl-0">
                <button type="button" class="btn btn-danger btn-icon me-2"><i class="mdi mdi-star"></i></button>
            </div>
            <div class="pe-1 mb-xl-0">
                <button type="button" class="btn btn-warning  btn-icon me-2"><i class="mdi mdi-refresh"></i></button>
            </div>
            <div class="mb-xl-0">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuDate" data-bs-toggle="dropdown" aria-expanded="false">
                        14 Aug 2019
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDate">
                        <li><a class="dropdown-item" href="javascript:void(0);">2015</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);">2016</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);">2017</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0);">2018</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header Close -->
    <!-- Start:: row-1 -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">
                        Order
                    </div>
                </div>
                <div class="card-body">
					<div class="row gy-4">
						<a href="C:\Users\user\Downloads\valexadmin-80\HTML\dist\html\apex-area-charts.html">C:\Users\user\Downloads\valexadmin-80\HTML\dist\html\apex-area-charts.html</a>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <p class="mb-2 text-muted">Basic Input:</p>
                            <input type="text" class="form-control" id="input">
                        </div>
                        <div class="col-xl-4">
                            <div class="card custom-card">
                                <div class="card-header">
                                    <div class="card-title">
                                        Customer
                                    </div>
                                </div>
                                <div class="card-body">
                                    <select class="js-example-basic-single" name="state">
                                        <option value="s-1">Select Customer</option>
                                        <option value="s-2">Bethel </option>
                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <label for="input-label" class="form-label">Total Amount</label>
                            <input type="number" class="form-control" id="input-label">
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <label for="input-placeholder" class="form-label">Amount Paid</label>
                            <input type="number" class="form-control" id="input-placeholder" placeholder="Amount">
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <label for="input-text" class="form-label">Balance</label>
                            <input type="text" class="form-control" id="balance" placeholder="Balance" readonly>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <label for="input-text" class="form-label">Payment Method</label>
                            <select class="js-example-basic-single" name="state">
                                <option value="s-1">Select Payment</option>
                                <option value="s-2">None </option>
                                <option value="s-2">Cash </option>
                                <option value="s-2">Bank </option>
                                <option value="s-2">Commission </option>

                            </select>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <label for="input-tel" class="form-label">Order Date</label>
                            <input type="tel" class="form-control" id="input-tel" placeholder="+1100-2031-1233">
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <label for="input-date" class="form-label">Delivery Date</label>
                            <input type="date" class="form-control" id="deliveryDate">
                        </div>
                        <div class="col-xl-4">
                            <div class="card custom-card">
                                <div class="card-header">
                                    <div class="card-title">
                                        Delivery Method
                                    </div>
                                </div>
                                <div class="card-body">
                                    <select class="js-example-basic-single" name="state">
                                        <option value="s-1">Select Delivery</option>
                                        <option value="s-2">Pickup </option>
                                        <option value="s-2">Door Step </option>

                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <label for="text-area" class="form-label">Textarea</label>
                            <textarea class="form-control" id="remark" rows="1"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>